@use "../../styles/variables.scss" as v;

.containerHeroBanner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boxHeroBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37%;
  height: 60%;
  color: v.$primary;

  h1 {
    font-family: v.$font-source;
    font-size: 4em;
    line-height: 1.2em;
  }

  button {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.description {
  font-size: 1.1em;
  font-family: v.$font-inter;
  line-height: 1.4em;
}

.boxInfos {
  display: flex;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      font-size: 1em;
      font-family: v.$font-inter;
    }

    h5 {
      font-size: 2.1em;
      font-family: v.$font-source;
    }
  }
}

.imageBanner {
  width: 40%;
}


@media (max-width: 768px) {
  .containerHeroBanner {
    flex-direction: column;
    margin-top: 2rem;
 
  }

  .boxHeroBanner {
    width: 100%;
    align-items: center;
    gap: 1.5rem;

    h1, .description {
      text-align: center;
    }
  }

  .imageBanner {
    border-radius: 50%;
    width: 80%;
    margin-top: 4rem;
  }
}

@media (max-width: 425px) {
  .boxHeroBanner {
    h1 {
      font-size: 2em;
    }

    button {
      width: 100%;
    }
  }

  .boxInfos {
    flex-direction: column;
    gap: 1rem;
  }

  .imageBanner {
    width: 100%;
  }
}