@use "../../styles/variables.scss" as v;

.containerCard {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: v.$primary;
  gap: 1rem;
  justify-content: space-between;

  h3 {
    font-size: 1.8em;
    font-family: v.$font-source;
    text-align: center;
  }

  p {
    font-size: 1rem;
    font-family: v.$font-inter;
    text-align: center;
     white-space: pre-line;
  }
}

@media (max-width: 1024px) {
  .containerCard {
    width: 70%;
    margin-top: 2rem;
  }
}

@media (max-width: 425px) {
  .containerCard {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .image {
    width: 100%;
  }
}
