@use "../../styles/variables.scss" as v;

.containerRegister {
  display: flex;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  height: 680px;
}

.registerBox {
  flex: 1;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  text-align: center;

  h2 {
    font-size: 24px;
    padding: 0 0 1rem 0;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: v.$font-inter;
  text-align: left;

  label {
    font-size: 14px;
    margin-bottom: 6px;
  }

  input,
  textarea {
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;

    &:focus {
      border-color: v.$primary;
    }
  }

   input {
    height: 44px;
  }

  textarea {
    min-height: 60px;
    padding: 12px;
    resize: vertical;
    font-family: v.$font-inter;
  }
}

.inputImage {
  display: none;
} 

.uploadButton {
  height: 32px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-family: inherit;
  font-size: 14px;
  color: #555;

  transition: all 0.2s ease;

  &:hover {
    border-color: v.$primary;
    color: v.$primary;
  }
}

.previewWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.preview {
  margin-top: 12px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid v.$primary;
}

.removeIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.previewWrapper:hover .removeIcon {
  opacity: 1;
}


.imageArea {
  flex: 1;
  background: v.$primary;
  border-radius: 16px 0 0 16px;
  height: 680px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .containerRegister {
    flex-direction: column-reverse;
    height: auto;
    width: 95%;
  }

  .imageArea {
    display: none;
  }
}
