@use "../../styles/variables.scss" as v;

.containerLogin {
  display: flex;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  width: 900px;
  margin-top: 6rem;
  max-width: 95%;
}

.formArea {
  flex: 1;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 28px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-family: v.$font-inter;

  label {
    font-size: 14px;
    margin-bottom: 6px;
    text-align: left;
  }

  input {
    height: 44px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;

    &:focus {
      border-color: v.$primary;
    }
  }
}

.buttonRegister {
  margin-left: 3rem;
}

.imageArea {
  flex: 1;
  background: v.$primary;
  border-radius: 0 16px 16px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.error {
  color: red;
  font-size: 12px;
  font-family: v.$font-inter;
}

@media (max-width: 768px) {
  .loginBox {
    flex-direction: column;
    height: auto;
  }

  .formArea {
    padding: 32px;
  }
}

@media (max-width: 425px) {
    .containerLogin {
    flex-direction: column;
    margin-top: 0;
  }

  .imageArea {
    border-radius: 0 0 16px 16px;
  }
}
