@use "../../styles/variables.scss" as v;

.containerHeader {
    background-color: v.$primary;
}

header {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: v.$font-source;

  img {
    width: 4rem;
    height: 3rem;
  }

  nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }

  @media (max-width: 1024px) {
    nav {
      width: 100%;
    }
  }

  @media (max-width: 425px) {
    nav {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;

  &:hover {
    color: lighten(v.$primary, 40%);
  }
}

.containerMenu {
  position: relative;
}

.boxMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  background-color: v.$primary;
  z-index: 999;
  top: 5rem;
  overflow-y: auto;
  border-top: 1px solid #CBCBCB;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
  padding: 0 1rem 2rem 1rem;
}

.iconMenu {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.division {
  width: 50%;
  background-color: #cfcfcf;
  height: 1px;
}